<div id="da-thumbs" class="da-thumbs portfolio">
  <div class="post-media_g pitem item-w1 item-h1 cat1">
    <a href="/static/uploads/home_01.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_01.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>
  <div class="post-media_g pitem item-w1 item-h1 cat2">
    <a href="/static/uploads/home_02.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_02.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>
  <div class="post-media_g pitem item-w1 item-h1 cat1">
    <a href="/static/uploads/home_03.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_03.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>

  <div class="post-media_g pitem item-w1 item-h1 cat3">
    <a href="/static/uploads/home_04.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_04.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>
  <div class="post-media_g pitem item-w1 item-h1 cat2">
    <a href="/static/uploads/home_05.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_05.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>
  <div class="post-media_g pitem item-w1 item-h1 cat1">
    <a href="/static/uploads/home_06.jpg" data-rel="prettyPhoto[gal]">
      <img src="/static/uploads/home_06.jpg" alt="" class="img-responsive" />
      <div>
        <i class="flaticon-unlink"></i>
      </div>
    </a>
  </div>
</div>
<!-- end portfolio -->
