{% extends "introduction/base.html" %} {% load static %} {% block content %} {% block title %}
<title>Yaml parser</title>
{% endblock %}

<div class="jumbotron bg-themed">
  <div class="hero__form w-50 m-auto">
  
  <h4 style="text-align: center" class="mb-2">Yaml To Json Converter</h4>
  <!-- Yaml To Json Converter -->
  <form enctype="multipart/form-data" method="post" action="/yaml">
    <input type="file" name="file" class="form-control" /><br />
    <br />
    <button class="site-btn" type="submit">Upload</button>
  </form>
  </div>
</div>
<br />
<br />
<div class="container">
  {% if data %}
  <h5>Here is your output:</h5>
  <br /><code>{{data}}</code><br />
  {% endif %}
</div>
<br />
<div class="container">
  <div class="hero__form w-50 m-auto text-center">

  <button class="primary-btn  btn-secondary" onclick="window.location.href='/get_version'">
    Get Version</button
  >
  <br /><code>{{version}}</code>
  </div>
</div>

{% endblock %}
