{% extends './layouts/home.html' %} {% block content %} {% block css %}
<!-- <link rel="stylesheet" type="text/css" href="css/style-about.css" /> -->
<link rel="stylesheet" type="text/css" href="css/style-res-about.css" />
<link rel="stylesheet" type="text/css" href="css/style-faq.css" />
<link rel="stylesheet" type="text/css" href="css/style-login.css" />
<link rel="stylesheet" type="text/css" href="css/style-fix-nav.css" />
{% endblock %}
<div class="banner">
  <div class="container">
    <figure id="banner-about">
      <a href="#"
        ><img
          src="img/banner-about.jpg"
          class="img-responsive"
          alt="img-holiwood"
      /></a>
    </figure>
  </div>
</div>
<div class="container container-ver2">
  <div class="page-login box space-50">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 sign-in space-30">
        <h3>Forgot Password</h3>

        {% if loginError %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{loginError}}
        </div>
        {% endif %} {% if success %}
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{success}}
        </div>
        {% endif %}
        <!-- change password link : /change-password?token=abcd -->
        <form class="form-horizontal" method="POST">
          <div class="group box space-20">
            <label class="control-label" for="username">Your username</label>
            <input
              class="form-control"
              type="text"
              placeholder="Your userName"
              id="username"
              name="username"
              value="{{username}}"
            />
          </div>

          <input type="hidden" name="_csrf" value="{{csrftoken}}" />

          <button type="submit" class="link-v1 rt">Forgot Password</button>
          <p style="margin-top: 1rem">
            <a class="help" title="register?" href="/signup"> or Login now?</a>
          </p>
        </form>
        <!-- End form -->
      </div>
      <!-- End col-md-6 -->
    </div>
  </div>
</div>

{% endblock %}
